AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignOperands: Align
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
IncludeBlocks: Regroup
IndentWidth: 4
Language: Cpp
PackConstructorInitializers: Never
PointerAlignment: Right
SortIncludes: Never
SpaceBeforeAssignmentOperators: true
UseTab: Never
